<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="contacts">
        <ul class="card-list">
            <li class="card-list-item">
                <button type="button" class="card-list-button">
                    cafe
                </button>
                <div class="card-list-wrapper">
                    <div class="card-box">
                        <p class="card-list-subtitle">
                            Chicago
                        </p>
                        <p class="card-list-text">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                    </div>
                    <div class="card-box">
                        <p class="card-list-subtitle">
                            Monday - Friday
                        </p>
                        <p class="card-time">
                            06:00 AM - 10:00 PM
                        </p>
                        <p class="card-list-subtitle">
                            Saturday - Sunday
                        </p>
                        <p class="card-time">
                            08:00 AM - 16:00 PM
                        </p>
                    </div>
                    <div class="contacts-list-contacts">
                        <a class="contacts-link" href="mailto:noreply@envato.com">
                            noreply@envato.com
                        </a>
                        <a class="contacts-link" href="tel:+61(0)383766284 ">
                            +61(0) 383 766 284 
                        </a>
                    </div>
                </div>
            </li>

            <li class="card-list-item">
                <button type="button" class="card-list-button green-btn">
                    foodtruck
                </button>
                <div class="card-list-wrapper">
                    <div class="card-box">
                        <p class="card-list-subtitle">
                            Chicago
                        </p>
                        <p class="card-list-text">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                    </div>
                    <div class="card-box">
                        <p class="card-list-subtitle">
                            Monday - Friday
                        </p>
                        <p class="card-time">
                            06:00 AM - 10:00 PM
                        </p>
                        <p class="card-list-subtitle">
                            Saturday - Sunday
                        </p>
                        <p class="card-time">
                            08:00 AM - 16:00 PM
                        </p>
                    </div>
                    <div class="contacts-list-contacts">
                        <a class="contacts-link" href="mailto:noreply@envato.com">
                            noreply@envato.com
                        </a>
                        <a class="contacts-link" href="tel:+61(0)383766284 ">
                            +61(0) 383 766 284 
                        </a>
                    </div>
                </div>
            </li>

            <li class="card-list-item">
                <button type="button" class="card-list-button">
                    cafe
                </button>
                <div class="card-list-wrapper">
                    <div class="card-box">
                        <p class="card-list-subtitle">
                            Chicago
                        </p>
                        <p class="card-list-text">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                    </div>
                    <div class="card-box">
                        <p class="card-list-subtitle">
                            Monday - Friday
                        </p>
                        <p class="card-time">
                            06:00 AM - 10:00 PM
                        </p>
                        <p class="card-list-subtitle">
                            Saturday - Sunday
                        </p>
                        <p class="card-time">
                            08:00 AM - 16:00 PM
                        </p>
                    </div>
                    <div class="contacts-list-contacts">
                        <a class="contacts-link" href="mailto:noreply@envato.com">
                            noreply@envato.com
                        </a>
                        <a class="contacts-link" href="tel:+61(0)383766284 ">
                            +61(0) 383 766 284 
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="btn-contacts">
            <button type="button" class="btn-location">
                Our Locations
            </button>
            <button type="button" class="btn-franchise">
                Franchise
            </button>
        </div>
    </section>
</body>
</html>