<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="logo">
        <img
          srcset="./images/hero-header/logo.png 1x, ./images/hero-header/logo2@.png 2x"
          src="./images/hero-header/logo.png"
          width="199"
          alt="logo"
        >
      </a>
      <menu class="navigation">
        <li class="navigation-item"><a class="navigation-link current" href="#">Home</a></li>
        <li class="navigation-item"><a class="navigation-link" href="#">About us</a></li>
        <li class="navigation-item"><a class="navigation-link" href="#">How it’s made?</a></li>
        <li class="navigation-item"><a class="navigation-link" href="#">Our products</a></li>
        <li class="navigation-item"><a class="navigation-link" href="#">Contact</a></li>
      </menu>
    </nav>
    <button
      type="button"
      class="header-mobile-button is-open"
      data-menu-button
      aria-controls="menu-container"
      aria-expanded="false"
    >
      <svg width="20" height="20" aria-label="Переключатель мобильного меню">
        <use class="nav-icon" href="./images/sprite.svg#icon-menu"></use>
        <use class="nav-menu" href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <button class="header-button button">Buy now</button>
  </div>
</header>
