<section class="hero">
  <div class="container">
    <div class="title-block">
      <h1 class="hero-title">Ice cream made with <strong>passion</strong></h1>
      <a href="#">Products</a><a href="#">How it’s made?</a>
    </div>
    <div class="hero-left">
      <picture>
        <source
          srcset="
          ./images/hero-header/milk2@.png 2x,
           ./images/hero-header/milk.png  1x
        "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
          ./images/hero-header/tab-milk2@.png 2x,
           ./images/hero-header/tab-milk.png  1x
        "
          media="(min-width: 768px)"
        />
        <img
          class="hero-ice"
          src="./images/hero-header/milk.png"
          alt="молоко"
        />
      </picture>
      <div class="ice-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button class="hero-read-more"></button>
      </div>
    </div>
    <div class="hero-ice">
      <div class="hero-circle">
        <picture>
          <source
            srcset="
              ./images/hero-header/ice2@.png 2x,
              ./images/hero-header/ice.png  1x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero-header/tab-ice2@.png 2x,
              ./images/hero-header/tab-ice.png  1x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero-header/mobile-ice2@.png 2x,
              ./images/hero-header/mobile-ice.png  1x
            "
            media="(max-width: 767px)"
          />
          <img
            class="hero-ice"
            src="./images/hero-header/mobile-ice.png"
            alt="молоко"
          />
        </picture>
      </div>
    </div>
    <div class="hero-right">
      <picture>
        <source
          srcset="
              ./images/hero-header/woman2@.png 2x,
              ./images/hero-header/woman.png  1x
            "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
              ./images/hero-header/tab-woman2@.png 2x,
              ./images/hero-header/tab-woman.png  1x
            "
          media="(min-width: 768px)"
        />
        <img
          class="hero-ice"
          src="./images/hero-header/tab-woman.png"
          alt="Девушка"
        />
      </picture>

    </div>
  </div>
</section>