.backdrop-hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px 94px;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms $timing-function;
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -150%) scale(0.9);
}

.modal-hero {
  position: relative;
  padding: 40px;
  background-color: #E17992;
  color: $white-color;
  color: $white-color;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 1px 0 1px rgba(0, 0, 0, 0.14),
  3px 0 1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  transition: opacity 250ms $timing-function, transform 250ms $timing-function;
  z-index: 10;

  @media screen and (max-width: 320px) {
    padding: 25px;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: auto;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  .modal__close {
    position: absolute;
    top: calc(8px);
    right: calc(8px);

    width: 30px;
    height: 30px;

    background-color: $white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: color 250ms $timing-function;

    &:hover {
      color: $accent-color;
    }
  }

  .modal__item {
    width: 18px;
    height: 18px;
  }

  .modal__title {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    @media screen and (min-width: 768px) {
      line-height: 1.15;
    }
  }
}

///*FORM STYLE*/
//.modal-form {
//    &__field {
//        position: relative;
//        display: block;
//        width: 100%;
//    }
//
//    &__field:nth-child(-n + 3) {
//        margin-bottom: 10px;
//    }
//
//    &__field:nth-child(4) {
//        margin-bottom: 20px;
//    }
//
//    &__field:last-of-type {
//        margin-bottom: 30px;
//    }
//
//    &__label {
//        display: block;
//        margin-bottom: 4px;
//        font-size: 12px;
//        line-height: 1.17;
//        color: $text-color;
//    }
//
//    &__input {
//        width: inherit;
//        height: 40px;
//        padding: 14px 14px 14px 42px;
//        border: 1px solid rgba(33, 33, 33, 0.2);
//        border-radius: 4px;
//        transition: border 250ms $timing-function, fill 250ms $timing-function;
//
//        &:focus {
//            border: 1px solid $accent-color;
//            outline: transparent;
//
//            + .modal-form__icon {
//                fill: $accent-color;
//            }
//        }
//    }
//
//    &__textarea {
//        //@extend .modal-form__input;
//        resize: none;
//        height: 120px;
//        padding-left: 16px;
//
//        &::placeholder {
//            font-size: 12px;
//            line-height: 1.17;
//            letter-spacing: 0.01em;
//            color: rgba(117, 117, 117, 0.5);
//        }
//    }
//
//    &__button {
//        display: block;
//        margin: 0 auto;
//    }
//
//    &__icon {
//        position: absolute;
//        top: 56%;
//        left: 15px;
//    }
//
//    &__checkbox:checked + &__icon-checkbox {
//        border-color: $accent-color;
//        background-origin: border-box;
//        background-color: $accent-color;
//        background-size: contain;
//        background-image: url('../images/check.svg');
//    }
//
//    &__icon-checkbox {
//        display: inline-block;
//        width: 16px;
//        height: 15px;
//        border: 2px solid #212121;
//        border-radius: 2px;
//    }
//
//    &__policy {
//        display: inline-block;
//        font-size: 14px;
//        line-height: 1.71;
//    }
//
//    &__policy--color {
//        color: $accent-color;
//    }
//}
