.contacts {
    background-image: linear-gradient(
    to bottom,
    $white-color 8%,
    #FFF5F6 8%,

);
    display: flex;
    justify-content: center;

    padding-bottom: 113px;

    width: 100%;
    height: 100%;
}

.card-list-item{
    margin-top: 20px;

    width: 220px;

    padding: 43px 20px;

    background: $white-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
}

.card-list-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 25px;

    border: none;

    width: 80px;
    height: 16px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;

    text-transform: uppercase;

    color: $white-color;
    background: #F0D1A5;
    border-radius: 4px;
}

.green-btn {
    width: 130px;
    height: 16px;   

    background: #C2E297;
}

.card-box::after {
    content: '';

    margin-top: 25px;
    margin-bottom: 25px;

    display: block;

    width: 179px;
    height: 0px;

    border: 1px solid #E1E1E1;
}


.card-list-subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;

    color: #000000;
}
.card-list-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;

    color: #907E82;
}
.card-time {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;

    color: #FFA5BA;
}
.contacts-link {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;

    color: #907E82;
}

.btn-contacts {
    display: flex;
    flex-direction: column;
    margin-top: 54px;
}

.btn-location {
    width: 161.45px;
    height: 44px;

    color: $white-color;
    background: $primary-text-color;
    border-radius: 22px;
    border: none;
}

.btn-franchise{
    margin-top: 10px;

    width: 161.45px;
    height: 44px;

    color: $primary-text-color;
    background: $white-color;
    border-radius: 22px;
    border: none;
}