.products {
  padding-top: 121px;
  padding-bottom: 98px;
  text-align: center;
  @media screen and (min-wigth: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-wigth: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products-before {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffa5ba;

  @media screen and (min-wigth: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-wigth: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  @media screen and (min-wigth: 768px) {
    font-size: 48px;
    line-height: 1.15;
  }
  @media screen and (min-wigth: 1280px) {
    font-size: 58px;
    line-height: 1.14;
  }
}

.products-list {
  margin-top: 144px;
  @media screen and (min-wigth: 768px) {
    margin-top: 150px;
  }
  @media screen and (min-wigth: 1280px) {
    margin-top: 259px;
  }
}

.products-link {
  display: block;
  margin: 0 auto;
  width: 280px;
  padding-top: 161px;
  padding-right: 44px;
  padding-left: 44px;
  background-color: pink;
  border-radius: 24px;
  margin-bottom: 130px;
  @media screen and (min-wigth: 768px) {
    width: 152px;
    padding-top: 161px;
    margin-bottom: 0px;
  }
  @media screen and (min-wigth: 1280px) {
    width: 335px;
    padding-top: 163px;
    margin-bottom: 0px;
  }
}

.products-link:last-child {
  margin-bottom: 0px;
}

.products-link-title {
  margin-bottom: 30px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  @media screen and (min-wigth: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-link-title::after {
  content: '...';
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.products-link-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  @media screen and (min-wigth: 768px) {
    font-size: 14px;
    line-height: 176%;
  }
  @media screen and (min-wigth: 1280px) {
    font-size: 16px;
    line-height: 176%;
  }
}

.products-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #fff;

  margin-top: 30px;
  margin-bottom: 41px;

  @media screen and (min-wigth: 768px) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  @media screen and (min-wigth: 1280px) {
    margin-top: 62px;
    margin-bottom: 50px;
  }
}

.products-button:hover,
.products-button:focus {
  background-color: #d41443;
}

.products-button:hover .products-icon {
  fill: #fff;
}
.products-button:focus .products-icon {
  fill: #fff;
}

.products-icon {
  fill: #d41443;
  margin: 0;
  padding: 0;
}

.products-image {
  max-width: 249px;

  @media screen and (min-wigth: 768px) {
    max-width: 220px;
  }
  @media screen and (min-wigth: 1280px) {
    max-width: 335px;
  }
}
